$accent-color: #4caf50;

.main {
  margin: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  .controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.75rem;

    label {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.875rem;
      color: #555;

      input[type='checkbox'] {
        appearance: none;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        transition: border-color 0.3s ease-in-out;

        &:checked {
          border-color: $accent-color;
          background-color: $accent-color;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
        }
      }

      input[type='range'] {
        width: 100%;
        height: 0.25rem;
        background-color: #ccc;
        border-radius: 0.125rem;
        appearance: none;
        margin: 0;
        padding: 0;

        &::-webkit-slider-thumb {
          appearance: none;
          width: 1rem;
          height: 1rem;
          background-color: $accent-color;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }

        &::-moz-range-thumb {
          width: 1rem;
          height: 1rem;
          background-color: $accent-color;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
        }
      }

      & select {
        appearance: none;
        width: 100%;
        height: 2rem;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        background-color: #fff;
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        background-repeat: no-repeat;
        background-position: center right 0.5rem;
        cursor: pointer;
        transition: border-color 0.3s ease-in-out;

        &:hover {
          border-color: $accent-color;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
        }
      }
    }
  }

  .leaderboard {
    margin-top: 1rem;
    a {
      color: #fff;
      text-decoration: none;
      background-color: $accent-color;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: lighten($accent-color, 10%);
      }
    }
  }
}
